.headerSpacer {
  flex: 1 1 auto;
}
img {
  width: 80%;
  height: 80%;
  margin-top: 1.5rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  align-items: center;
  padding-top: 1rem;
}

.accountbtn mat-icon{
  font-size: 36px;
}

.bgHeader {
  background-color: #a548a2;
  height: 7%;
}
