.headerSpacer {
  flex: 1 1 auto;
}
img {
    width: 80%;
    height: 80%;
    margin-top: 1.5rem;
    align-items: center;

}

a {
  text-decoration: none;
  color: white;
  align-items: center;
  padding-top: 1rem;
}

.bgHeader {
  background-color: #ccabda;
  height: 7%;
}

li {
  text-decoration: none;
  list-style: none;
}
