<mat-toolbar class="bgHeader">
  <ul class="displayFlex">
    <a routerLink="">
      <img src="../../../assets/img/teamCollab.png" alt="" />
    </a>
  </ul>

  <ul>
    <li *ngIf="auth.loggedIn() && auth.isAdmin()" class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle paddingTop btHeader"
        data-bs-toggle="dropdown"
        role="button"
        aria-expanded="false"
        >Admin</a
      >
      <ul class="dropdown-menu bg-light tex">
        <li><a class="dropdown-item" routerLink="listUsers">List Users</a></li>
        <li>
          <a class="dropdown-item" routerLink="registerUser">Register User</a>
        </li>
        <li><a class="dropdown-item" routerLink="listRole">List Roles</a></li>
        <li>
          <a class="dropdown-item" routerLink="registerRole">Register Role</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="project"
            >List projects</a
          >
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <a class="displayFlex btHeader" *ngIf="auth.loggedIn()" routerLink="project"
      >Projects</a
    >
  </ul>

  <ul>
    <a class="displayFlex btHeader" *ngIf="auth.loggedIn()" routerLink="/board/inicio"
      >Board</a
    >
  </ul>

  <span class="headerSpacer"></span>

  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register" class="btHeader">Register</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login" class="btHeader">Login</a>
    <button
      mat-icon-button
      [matMenuTriggerFor]="account"
      class="accountbtn"
      *ngIf="auth.loggedIn()"
    >
      <div class="photo_container">
        <div *ngIf="perfilService.datosUser.imageUrl === ''" class="photo_default">
          <div><mat-icon> account_circle </mat-icon></div>
          <div>
            <p>{{ perfilService.datosUser.fullName }}</p>
          </div>
        </div>
        <div *ngIf="perfilService.datosUser.imageUrl !== ''" class="user_photo">
          <img src="{{ perfilService.datosUser.imageUrl }}" alt="User photo" />
          <p>{{ perfilService.datosUser.fullName }}</p>
        </div>
      </div>
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item (click)="auth.logout()">Logout</button>
    </mat-menu>
  </ul>
</mat-toolbar>
