<div>
    <input type="checkbox" checkbox="checkbox" (click)="cambio()">
    <div class="menu">
        <span class="material-icons icon">{{ toggle ? "arrow_forward_ios" : "arrow_back_ios"}}</span>
        <div class="menuAll">
            <div class="menuUpper">
                <div class="containerTitleMenu">
                    <h3 class="titleMenu" >teams/proyect</h3>
                    <span class="material-icons" data-bs-toggle="modal" data-bs-target="#modalAddTeam">add_circle_outline</span>
                </div>
                <div class="buttonsMenu" *ngIf="teamProject.length">
                    
                    <div *ngFor="let team of teamProject">
                        <div class="containerButton" *ngIf="!auth.isScrumMaster()">
                            <div class="change" (click)="changeTeam(team)">{{team.team + " / " + team.project }} </div>                            
                        </div>
                        <div class="containerButton" *ngIf="auth.isScrumMaster()">
                            <div class="change" (click)="changeTeam(team)">{{team.team + " / " + team.project }} </div>
                            <span class="spacer"></span>
                            <span class="material-icons icono" data-bs-toggle="modal" data-bs-target="#modalTeam">edit_note</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="menuLower">
                <div class="containerTitleMenu">
                    <h3 class="titleMenu"> Sprints </h3>                                       
                    <span class="material-icons" data-bs-toggle="modal" data-bs-target="#modalAddSprint">add_circle_outline</span>
                </div>
                <div class="buttonsMenu" *ngIf="sprints.length">

                    <div *ngFor="let sprint of sprints">
                        <div *ngIf="!auth.isScrumMaster()" class="containerButton"> 
                            <div class="change" (click)="changeSprint(sprint)">{{sprint.name}} </div>
                        </div>
                                
                        <div *ngIf="auth.isScrumMaster()" class="containerButton">                            
                            <div class="change" (click)="changeSprint(sprint)">{{sprint.name}} </div>
                            <span class="spacer"></span>
                            <span class="material-icons icono" data-bs-toggle="modal" data-bs-target="#modalSprint">edit_note</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="contents">


        <div class="containerToDo">
            <h3 class="titleSections">To-Do</h3>

            <div class="container" *ngIf="taskToDo.length">
                <mat-card class="card" *ngFor="let task of taskToDo">
                    <mat-card-title><span class="text_center">{{ task.name }}</span></mat-card-title>
                    <mat-card-content>
                        <span>{{ task.description }}</span>
                        <p>Estado: <span>{{ task.status }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <div class="containerDoing">
            <h3 class="titleSections">Doing</h3>
            <div class="container" *ngIf="taskDoing.length">
                <mat-card class="card" *ngFor="let task of taskDoing">
                    <mat-card-title><span class="text_center">{{ task.name }}</span></mat-card-title>
                    <mat-card-content>
                        <span>{{ task.description }}</span>
                        <p>Estado: <span>{{ task.status }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <div class="containerTesting">
            <h3 class="titleSections">Testing</h3>
            <div class="container" *ngIf="taskTesting.length">
                <mat-card class="card" *ngFor="let task of taskTesting">
                    <mat-card-title><span class="text_center">{{ task.name }}</span></mat-card-title>
                    <mat-card-content>
                        <span>{{ task.description }}</span>
                        <p>Estado: <span>{{ task.status }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <div class="containerDone">
            <h3 class="titleSections">Done</h3>
            <div class="container" *ngIf="taskDone.length">
                <mat-card class="card" *ngFor="let task of taskDone">
                    <mat-card-title><span class="text_center">{{ task.name }}</span></mat-card-title>
                    <mat-card-content>
                        <span>{{ task.description }}</span>
                        <p>Estado: <span>{{ task.status }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <div class="containerOtro">
            <h3 class="titleSections">Otro</h3>
        </div>
    </div>
</div>

<!-- MODALES -->

<div class="modal fade" id="modalTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor ullam tenetur pariatur aspernatur
                    placeat ipsa consectetur delectus laudantium omnis. Repellat tenetur dolorem maiores sint cupiditate
                    architecto explicabo autem velit?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalSprint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sprint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor ullam tenetur pariatur aspernatur
                    placeat ipsa consectetur delectus laudantium omnis. Repellat tenetur dolorem maiores sint cupiditate
                    architecto explicabo autem velit?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor ullam tenetur pariatur aspernatur
                    placeat ipsa consectetur delectus laudantium omnis. Repellat tenetur dolorem maiores sint cupiditate
                    architecto explicabo autem velit?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddSprint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Sprint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor ullam tenetur pariatur aspernatur
                    placeat ipsa consectetur delectus laudantium omnis. Repellat tenetur dolorem maiores sint cupiditate
                    architecto explicabo autem velit?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>