*{
    margin: 0;
    padding: 0;    
}

input[type="checkbox"]{
    position: absolute;
    height: 40px;    
    width: 40px;    
    right: 25.5%;
    top: 40%;
    border-radius: 3px;    
    z-index: 10000;
    cursor: pointer;
    opacity: 0;    
}

.icon{
    position: absolute;
    height: 40px;    
    width: 40px;
    line-height: 39px;
    right: 98%;
    top: 40%;
    border-radius: 3px;       
    background: #000;
    color: white;
    padding-left: 9px;
    /* pointer-events: none; */
    /* z-index: 10; */
}

.menu{
    position: fixed;
    top:0;
    right: 0;
    margin: 0;    
    box-sizing: border-box;
    width: 26%;
    height: 100vh;
    transition: 0.5s;
    z-index: 1000;    
    background: #FFDD94;
    /* background: #FA897B; */
    /* background: #86E3CE; */
}

input[type="checkbox"]:checked ~ .menu{
    right: -26%;
}

input[type="checkbox"]:checked{
    /* opacity: 0.5; */
    right: 0%;
    width: 32px;     
}

.contents{
    height: 100vh;
    width: 100%;
    display: flex;
    /* background-color:royalblue;
    z-index: -1; */
}

.menuAll{
    height: 100%;
    text-align: center;
}

.menuUpper{
    height: 40%;    
}

.menuLower{
    height: 60%;    
}

.containerToDo{
    width: 20%;    
}

.containerDoing{
    width: 20%;
}

.containerTesting{
    width: 20%;
}

.containerDone{
    width: 20%;
}

.containerOtro{
    width: 20%;
}

.container {
    padding-top: 1px;
    display: flex;
    flex-direction: column;    
    align-items: center;    
}

.titleSections{
    text-align: center;
    padding: 1.5vh;
    color: #00ffdd;
    font-size: 3vh;
    margin: 0;
}

.card {
    width: 70%;
    /* height: 100%; */
    padding: 2.5vh;
    margin: 2.5vh;
    background-color: #86E3CE;
}

.text_center {
    display: flex;
    justify-content: center;
}

.mat-card-content {
    padding-top: 11px;
    font-size: 1.6vh;
}

.mat-card-title{
    font-size: 2.5vh;
}
.add-task-icon {
    background-color: #fa897b;
}
.add-task-button {
    background-color: #fa897b;
    position: fixed;
    right: 60px;
    bottom: 60px;
    transform: scale(1.5);
}

.spacer{
    flex: 1 1 auto;
}

.containerButton{
    display: flex;
    background-color: #86E3CE;
    opacity: 0.8;
    width: 60%;
    min-height: 3.5vh;    
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.8vh;
}

.containerButton:hover{
    opacity: 1;
}

.buttonsMenu{
    width: 100%;    
}

.change{
    width: 90%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono{
    width: 10%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTitleMenu{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
}

.titleMenu{
    margin-right: 2vh;
    padding-top: 2.5%;    
    font-size: 2vh;
}




