<input type="checkbox" checkbox="checkbox" (click)="cambio()" />
<div class="menu">
  <span class="material-icons icon">{{
    toggle ? "arrow_forward_ios" : "arrow_back_ios"
  }}</span>
  <div class="menuAll">
    <div class="menuUpper">
      <div class="containerTitleMenu">
        <h3 class="titleMenu">Teams/Proyect</h3>
        <span
          class="material-icons"
          *ngIf="auth.isScrumMaster() || auth.isAdmin()"
          data-bs-toggle="modal"
          data-bs-target="#modalAddTeam"
          (click)="viewProjects()"
          >add_circle_outline</span
        >
      </div>
      <div class="buttonsMenu overflow-auto" *ngIf="teamProject.length">
        <div *ngFor="let team of teamProject">
          <div
            class="containerButton"
            *ngIf="!auth.isScrumMaster() && !auth.isAdmin()"
          >
            <div class="change" (click)="changeTeam(team)">
              {{ team.team + " / " + team.project }}
            </div>
          </div>
          <div
            class="containerButton"
            *ngIf="auth.isScrumMaster() || auth.isAdmin()"
          >
            <div class="change" (click)="changeTeam(team)">
              {{ team.team + " / " + team.project }}
            </div>
            <span class="spacer"></span>
            <span
              class="material-icons icono"
              data-bs-toggle="modal"
              data-bs-target="#modaldeleteTeam"
              >delete</span
            >
            <span
              class="material-icons icono"
              data-bs-toggle="modal"
              data-bs-target="#modalTeam"
              (click)="usersTeamF(team)"
              >edit_note</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="menuLower">
      <div class="containerTitleMenu">
        <h3 class="titleMenu">Sprints</h3>
        <span
          class="material-icons"
          *ngIf="auth.isScrumMaster() || auth.isAdmin()"
          data-bs-toggle="modal"
          data-bs-target="#modalAddSprint"
          >add_circle_outline</span
        >
      </div>
      <div class="buttonsMenu overflow-auto" *ngIf="sprints.length">
        <div *ngFor="let sprint of sprints">
          <div
            *ngIf="!auth.isScrumMaster() && !auth.isAdmin()"
            class="containerButton"
          >
            <div class="change" (click)="changeSprint(sprint)">
              {{ sprint.name }}
            </div>
          </div>

          <div
            *ngIf="auth.isScrumMaster() || auth.isAdmin()"
            class="containerButton"
          >
            <div class="change" (click)="changeSprint(sprint)">
              {{ sprint.name }}
            </div>
            <span class="spacer"></span>
            <span
              class="material-icons icono"
              data-bs-toggle="modal"
              data-bs-target="#modaldeleteSprint"
              >delete</span
            >
            <span
              class="material-icons icono"
              data-bs-toggle="modal"
              data-bs-target="#modalSprint"
              (click)="SprintF(sprint)"
              >edit_note</span
            >
          </div>
        </div>

        <div
          *ngIf="auth.isScrumMaster() || auth.isAdmin()"
          class="containerButton"
        >
          <div class="change" (click)="changeSprint(sprint)">
            {{ sprint.name }}
          </div>
          <span class="spacer"></span>
          <span
            class="material-icons icono"
            data-bs-toggle="modal"
            data-bs-target="#modalSprint"
            (click)="SprintF(sprint)"
            >edit_note</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<h1>{{projectTitle}}</h1>
<div class="contents">
  <div class="containerToDo">
    <h3 class="titleSections">To-Do</h3>
    <div class="container" *ngIf="taskToDo.length">
      <mat-card
        class="card"
        [class.lowPriority]="task.priority == '1'"
        [class.mediumPriority]="task.priority == '2'"
        [class.highPriority]="task.priority == '3'"
        *ngFor="let task of taskToDo"
      >
        <mat-card-title>
          <a
            class="text_center"
            data-bs-toggle="modal"
            data-bs-target="#detaTask"
            (click)="showDataTask(task)"
            >{{ task.name }}</a
          >
        </mat-card-title>
        <mat-card-content>
          <p>{{ task.description }}</p>
        </mat-card-content>
        <div class="row">
          <div class="btn-group" role="group">
            <button
              class="btn btn-danger btn-sx textSize"
              (click)="updateTask(task, 'to-do')"
            >
              To-do
            </button>
            <button
              class="btn btn-warning btn-sx textSize"
              (click)="updateTask(task, 'doing')"
            >
              Doing
            </button>
            <button
              class="btn btn-success btn-sx textSize"
              (click)="updateTask(task, 'done')"
            >
              Done
            </button>
            <button
              class="btn btn-light btn-sx textSize"
              (click)="updateTask(task, 'testing')"
            >
              Testing
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="containerDoing">
    <h3 class="titleSections">Doing</h3>
    <div class="container" *ngIf="taskDoing.length">
      <mat-card
        class="card"
        [class.lowPriority]="task.priority == '1'"
        [class.mediumPriority]="task.priority == '2'"
        [class.highPriority]="task.priority == '3'"
        *ngFor="let task of taskDoing"
      >
        <mat-card-title>
          <a
            class="text_center"
            data-bs-toggle="modal"
            data-bs-target="#detaTask"
            (click)="showDataTask(task)"
            >{{ task.name }}</a
          >
        </mat-card-title>
        <mat-card-content>
          <p>{{ task.description }}</p>
        </mat-card-content>
        <div class="row">
          <div class="btn-group" role="group">
            <button
              class="btn btn-danger btn-sx textSize"
              (click)="updateTask(task, 'to-do')"
            >
              To-do
            </button>
            <button
              class="btn btn-warning btn-sx textSize"
              (click)="updateTask(task, 'doing')"
            >
              Doing
            </button>
            <button
              class="btn btn-success btn-sx textSize"
              (click)="updateTask(task, 'done')"
            >
              Done
            </button>
            <button
              class="btn btn-light btn-sx textSize"
              (click)="updateTask(task, 'testing')"
            >
              Testing
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="containerTesting">
    <h3 class="titleSections">Testing</h3>
    <div class="container" *ngIf="taskTesting.length">
      <mat-card
        class="card"
        [class.lowPriority]="task.priority == '1'"
        [class.mediumPriority]="task.priority == '2'"
        [class.highPriority]="task.priority == '3'"
        *ngFor="let task of taskTesting"
      >
        <mat-card-title>
          <a
            class="text_center"
            data-bs-toggle="modal"
            data-bs-target="#detaTask"
            (click)="showDataTask(task)"
            >{{ task.name }}</a
          >
        </mat-card-title>
        <mat-card-content>
          <p>{{ task.description }}</p>
        </mat-card-content>
        <div class="row">
          <div class="btn-group" role="group">
            <button
              class="btn btn-danger btn-sx textSize"
              (click)="updateTask(task, 'to-do')"
            >
              To-do
            </button>
            <button
              class="btn btn-warning btn-sx textSize"
              (click)="updateTask(task, 'doing')"
            >
              Doing
            </button>
            <button
              class="btn btn-success btn-sx textSize"
              (click)="updateTask(task, 'done')"
            >
              Done
            </button>
            <button
              class="btn btn-light btn-sx textSize"
              (click)="updateTask(task, 'testing')"
            >
              Testing
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="containerDone">
    <h3 class="titleSections">Done</h3>
    <div class="container" *ngIf="taskDone.length">
      <mat-card
        class="card"
        [class.lowPriority]="task.priority == '1'"
        [class.mediumPriority]="task.priority == '2'"
        [class.highPriority]="task.priority == '3'"
        *ngFor="let task of taskDone"
      >
        <mat-card-title>
          <a
            class="text_center"
            data-bs-toggle="modal"
            data-bs-target="#detaTask"
            (click)="showDataTask(task)"
            >{{ task.name }}</a
          >
        </mat-card-title>
        <mat-card-content>
          <p>{{ task.description }}</p>
        </mat-card-content>
        <div class="row">
          <div class="btn-group" role="group">
            <button
              class="btn btn-danger btn-sx textSize"
              (click)="updateTask(task, 'to-do')"
            >
              To-do
            </button>
            <button
              class="btn btn-warning btn-sx textSize"
              (click)="updateTask(task, 'doing')"
            >
              Doing
            </button>
            <button
              class="btn btn-success btn-sx textSize"
              (click)="updateTask(task, 'done')"
            >
              Done
            </button>
            <button
              class="btn btn-light btn-sx textSize"
              (click)="updateTask(task, 'testing')"
            >
              Testing
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="containerOtro">
    <h3 class="titleSections">Otro</h3>
  </div>
</div>

<!-- MODALES -->

<div
  class="modal fade"
  id="modalTeam"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Team {{teamName}}</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body displayFlex" *ngFor="let item of usersTeam">
        <span>{{ item.userId.fullName }}</span>
        <span class="spacer"></span>
        <span>{{ item.userId.roleId.name }}</span>
        <span class="spacer"></span>
        <button
          class="btn btn-danger btn-xs m-1"
          title="Delete User"
          (click)="userDelete(item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="displayFlex modal-body">
        <select
          *ngIf="usersAll.length"
          class="form-select ancho"
          aria-label="Default select example"
          [(ngModel)]="UserSelect"
        >
          <option selected>Seleccionar usuario</option>
          <option [value]="user._id" *ngFor="let user of usersAll">
            {{ user.fullName }}
          </option>
        </select>
        <span class="spacer"></span>
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="userList()"
        >
          <mat-icon>add</mat-icon>Nuevo
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="userAdd()">
          Add User
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalSprint"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sprint</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="exampleInputEmail1">Name</label>
        <input
          [(ngModel)]="sprint.name"
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
        <br>
        <label for="">Description</label>
        <input
          [(ngModel)]="sprint.description"
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="sprintEdit()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAddTeam"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Team</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="col-12 col-lg-12" *ngIf="message">
        <div
          class="alert alert-info alert-dismissible alertJustify d-flex"
          role="alert"
        >
          <div class="alert-message">
            {{ message }}
          </div>
          &nbsp;&nbsp;
          <button
            type="button"
            class="close alertButton"
            (click)="closeX()"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">X</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <input
          [(ngModel)]="registerTeam.name"
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Name Team"
        />
        <br>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="registerTeam.projectId"
          placeholder="project"
        >
          <option *ngFor="let project of projects" value="{{ project._id }}">
            {{ project.name }}
          </option>
        </select>
        <br />
        <button type="button" (click)="saveTeam()" class="btn btn-success">
          Save
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modaldeleteTeam"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Team</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <p>Do you want to delete the Team?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteTeam()"
        >
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modaldeleteSprint"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Sprint</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <p>Do you want to delete the Sprint?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteSprint()"
        >
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAddSprint"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Sprint</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="col-12 col-lg-12" *ngIf="message">
        <div
          class="alert alert-info alert-dismissible alertJustify d-flex"
          role="alert"
        >
          <div class="alert-message">
            {{ message }}
          </div>
          &nbsp;&nbsp;
          <button
            type="button"
            class="close alertButton"
            (click)="closeX()"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">X</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <input
          [(ngModel)]="registerTeam.name"
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Name Sprint"
        />
        <br />
        <textarea
          [(ngModel)]="registerTeam.description"
          class="form-control"
          aria-label="With textarea"
          placeholder="Description"
        ></textarea>
        <br />
        <button
          type="button btnSave"
          (click)="saveSprint()"
          class="btn btn-success"
        >
          Save
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <input
      [(ngModel)]="registerTeam.name"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      placeholder="Name Sprint"
    />
    <br />
    <textarea
      [(ngModel)]="registerTeam.description"
      class="form-control"
      aria-label="With textarea"
      placeholder="Description"
    ></textarea>
    <br />
    <button
      type="button btnSave"
      (click)="saveSprint()"
      class="btn btn-success"
    >
      Save
    </button>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</div>

<div id="detaTask" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="detaTask">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">
          <mat-icon class="sizeIconDetaTask">info</mat-icon> Detalle de la
          tarea:
          <span class="badge bg-dark textSizeDetaTask">{{
            detaTask.name
          }}</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <p>
              {{ detaTask.description }}
            </p>
            <h3>Fecha: {{ detaTask.date | date: "dd-MM-yyyy" }}</h3>
            <h3>
              Prioridad:
              <span
                class="badge text-dark"
                [class.lowPriority]="detaTask.priority == '1'"
                [class.mediumPriority]="detaTask.priority == '2'"
                [class.highPriority]="detaTask.priority == '3'"
                >{{
                  detaTask.priority == 3
                    ? "Alta"
                    : detaTask.priority == 2
                    ? "Media"
                    : "Baja"
                }}</span
              >
            </h3>
          </div>
          <div class="col-lg-6 alinearImgDetaTask">
            <img
              *ngIf="detaTask.imageUrl"
              src="{{ detaTask.imageUrl }}"
              alt="Img task"
              width="100"
              height="100"
            />
            <mat-icon *ngIf="!detaTask.imageUrl" class="sizeIconDetaTaskImg"
              >local_offer</mat-icon
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" (click)="getTask(detaTask._id)" data-bs-dismiss="modal" *ngIf="!auth.isUser()">
          <mat-icon>edit</mat-icon>
        </button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<a
  mat-fab
  class="add-task-button"
  mat-button
  [routerLink]="['/saveTask/inicio']"
  *ngIf="!auth.isUser()"
>
  <mat-icon
    ><span class="material-icons add-task-icon"> note_add </span></mat-icon
  >
</a>
