.title {
    font-size: 35px;
    /* font-family: 'Inconsolata', monospace; */
    font-weight: bold;
    color: #FA897B;
    padding: 10px;
    border-bottom: none;
    height: 60px;
}

.titleSections{
    text-align: center;
    padding: 1.5vh;
    color: #FA897B;
    font-size: 3vh;
    margin: 0;
}

mat-icon {
    font-size: 20px;
    vertical-align: inherit;
    height: unset;
    width: unset;
}

.cardBorderUnset {
    border: unset;
}

.text-justify {
    text-align: justify;
}

.card-success {
    background-color: #85f0ba;
}

.card-secondary {
    background-color: #999a9b;
}