<div class="card cardBorderUnset">
  <div class="card-header text-center title">
    <div class="col-lg-12">
      <div class="form-group float-start">Proyectos</div>
      <div class="form-group float-end" *ngIf="!authService.isUserLeader()">
        <button type="button" class="btn btn-warning btn-sm" (click)="nuevo()">
          <mat-icon>add</mat-icon> Nuevo
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-lg-12 text-center">
      <div class="spinner-border text-dark m-3" role="status" *ngIf="cargando">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="row">
        <div [class]="listClass">
          <div class="row justify-content-center" *ngIf="!cargando">
            <div
              class="card m-2"
              [class.card-secondary]="!project.active"
              [class.card-success]="project.active"
              style="width: 18rem"
              *ngFor="let project of projects"
            >
              <div class="card-header">
                {{ project.name }}
              </div>
              <div class="card-body">
                <p class="card-text text-justify">
                  {{ project.description }}
                </p>
                <div class="row">
                  <h5 class="card-title text-start">
                    Estado:
                    <span
                      class="badge text-dark"
                      [class]="
                        project.status === 'done'
                          ? 'bg-success'
                          : project.status === 'doing'
                          ? 'bg-warning'
                          : 'bg-danger'
                      "
                      >{{ project.status }}</span
                    >
                  </h5>
                </div>
                <div class="row">
                  <h5 class="card-title text-start">
                    Fecha: {{ project.date | date: "dd-MM-yyyy" }}
                  </h5>
                </div>
                <div class="row">
                  <h5 class="card-title text-start">
                    <span
                      class="badge text-dark"
                      [class]="project.active ? 'bg-success' : 'bg-warning'"
                      >{{ project.active ? "Active" : "Deleted" }}</span
                    >
                  </h5>
                </div>
                <button
                  class="btn btn-warning btn-xs m-1"
                  title="Editar proyecto"
                  (click)="editar(project)"
                  [disabled]="!project.active"
                  *ngIf="!authService.isUserLeader()"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  class="btn btn-danger btn-xs m-1"
                  title="Borrar proyecto"
                  (click)="delete(project)"
                  [disabled]="!project.active"
                  *ngIf="!authService.isUserLeader()"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  class="btn btn-info btn-xs m-1"
                  title="Detalle del proyecto"
                  routerLink="/board"
                >
                  <mat-icon>dashboard</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div [class]="formClass" *ngIf="formHide">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gestion project</h5>
              <div class="row">
                <mat-form-field>
                  <input
                    [(ngModel)]="dataProject.name"
                    matInput
                    placeholder="Name"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <textarea
                    [(ngModel)]="dataProject.description"
                    matInput
                    placeholder="Description"
                    required
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="row m-2" *ngIf="confiEdit">
                <div class="col-lg-12">Status</div>
                <div class="col-lg-4">
                  <button
                    class="btn btn-light"
                    [class.bg-warning]="dataProject.status === 'doing'"
                    mat-button
                    (click)="changeStatus('doing')"
                  >
                    Doing
                  </button>
                </div>
                <div class="col-lg-4">
                  <button
                    class="btn btn-light"
                    [class.bg-success]="dataProject.status === 'done'"
                    mat-button
                    (click)="changeStatus('done')"
                  >
                    Done
                  </button>
                </div>
                <div class="col-lg-4">
                  <button
                    class="btn btn-light"
                    [class.bg-danger]="dataProject.status === 'to-do'"
                    mat-button
                    (click)="changeStatus('to-do')"
                  >
                    To-do
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <button class="btn btn-info" (click)="save()">Save</button>
                </div>
                <div class="col-lg-6">
                  <button class="btn btn-danger" (click)="close()">
                    Cancel
                  </button>
                </div>
              </div>
              <div class="row">
                <div
                  class="alert alert-danger d-flex align-items-center m-2"
                  role="alert"
                  *ngIf="errorMessage"
                >
                  {{ errorMessage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
