.title {
    font-size: 35px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    color: #a548a2;
    padding: 10px;
    border-bottom: none;
}

mat-icon {
    font-size: 20px;
    vertical-align: inherit;
    height: unset;
    width: unset;
}

.cardBorderUnset {
    border: unset;
}

.text-justify {
    text-align: justify;
}

.card-success {
    background-color: #85f0ba;
}

.card-secondary {
    background-color: #999a9b;
}