.task-card {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}
mat-card-title {
    padding-bottom: 20px;
}
mat-form-field {
    width: 90%;
}
button {
    margin-left: 10px;
    margin-right: 10px;
}
.modal-body {
    margin: 0 auto;
}
.modal-body img {
    width: 80%;
}
.image-name {
    color: #0000008a;
    cursor: pointer;
}
.search-file-icon {
    color: #0000008a;
    cursor: pointer;
}
.file-icon {
    color: #0000008a;
}
.load-file-button {
    background-color: #86e3ce;
}
.save-button {
    background-color: #0dcaf0;
    width: 60%;
}
.add-user-button {
    background-color: #ffc107;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.return-board-icon {
    background-color: #fa897b;
}
.return-board-button {
    background-color: #fa897b;
    position: fixed;
    right: 60px;
    bottom: 60px;
    transform: scale(1.5);
}
.displayFlex{
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.spacer {
    flex: 1 0 auto;
  }

  