<div class="modal fade" id="modalTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Create Task</h2>
                <!-- <mat-card-title>Create task</mat-card-title> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteLocalInfo()"></button>
            </div>
            <div class="col-12 col-lg-12" *ngIf="successMessage">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-message">{{ successMessage }}</div>
                    <button type="button" class="btn-close" (click)="closeAlert(0)" data-dismiss="alert"
                        aria-label="Close"></button>
                </div>
            </div>
            <div class="col-12 col-lg-12" *ngIf="errorMessage">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-message">
                        {{ errorMessage }}
                        <button type="button" class="close btn-close" (click)="closeAlert(0)" data-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="taskData.name" type="text" class="form-control" required placeholder="Task name"/>
                <br />
                <textarea [(ngModel)]="taskData.description" type="text" class="form-control" required placeholder="Description"></textarea>
                <br />
                <select class="form-select" [(ngModel)]="taskData.priority" required >
                    <option selected>Priority</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
                <br />
                    <!-- </mat-form-field> -->

                    <!-- <p *ngIf="flagTask==true">{{ taskData.imageName }}</p> -->

                <mat-form-field class="search-file-input" *ngIf="flagImage == false">
                    <mat-label>Loaded Image</mat-label>
                    <input matInput disabled />
                    <a class="image-name" matInput data-bs-toggle="modal" data-bs-target="#modalImg"
                        (click)="getImage()">{{ taskData.imageName }}</a>
                    <mat-icon class="search-file-icon" matSuffix (click)="addImage()" ngxMatFileInputIcon>
                        image_search
                    </mat-icon>
                </mat-form-field>

                <mat-form-field class="form-control" *ngIf="flagImage == true">
                    <mat-label class="load-label">Load image</mat-label>
                    <ngx-mat-file-input [formControl]="fileControl" accept=".png, .jpg, .jpeg, .gif, image/*">
                        <mat-icon class="file-icon" ngxMatFileInputIcon>image</mat-icon>
                    </ngx-mat-file-input>
                </mat-form-field>

                    <!-- <input type="file" (change)="uploadImg($event)"> -->
            </div>
            <div class="modal-footer">
                    <button class="btn btn-info btn-xs m-1" (click)="saveTaskImg()">
                        <mat-icon>save</mat-icon>
                    </button>
                    <!-- <button class="btn btn-success btn-xs m-1">
                        <span class="material-icons icono" data-bs-toggle="modal" data-bs-target="#modalTeam"
                            (click)="usersTeam()">face</span>
                    </button> -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteLocalInfo()">
                        Close
                      </button>
            </div>
        </div>
    </div>
</div>

<a mat-fab class="return-board-button" mat-button *ngIf="!auth.isUser()" id="task-window" data-bs-toggle="modal" data-bs-target="#modalTask" (click)="getTaskInfo()" >
    <mat-icon>
        <span class="material-icons return-board-icon" (click)='deleteLocalInfo()'>note_add</span>
    </mat-icon>
</a>

<div class="modal fade" id="modalTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Team</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-lg-12" *ngIf="successMessageUser">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div class="alert-message">{{ successMessageUser }}</div>
                        <button type="button" class="btn-close" (click)="closeAlert(0)" data-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                </div>

                <div class="col-12 col-lg-12" *ngIf="errorMessageUser">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="alert-message">
                            {{ errorMessageUser }}
                            <button type="button" class="close btn-close" (click)="closeAlert(0)" data-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!teamMembers.length">
                    <span>No team members assigned</span>
                    <span class="spacer"></span>
                </div>
                <div *ngIf="teamMembers.length">
                    <div *ngFor="let member of teamMembers">
                        <div class="displayFlex" *ngIf="member.userId != null">
                            <span>{{ member.userId.fullName }}</span>
                            <span class="spacer"></span>
                            <button class="btn btn-success btn-xs m-1" (click)="userAdd(member)"
                                *ngIf="!flagEditTask == true">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button class="btn btn-danger btn-xs m-1" (click)="userDelete(member.userId)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <!-- <button type="button" class="btn btn-primary" (click)="userAdd(member)">Add User</button> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Image</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img *ngIf="taskData.imageUrl" src="{{ taskData.imageUrl }}" alt="Img task" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <!-- <button type="button" class="btn btn-primary" (click)="userAdd(member)">Add User</button> -->
            </div>
        </div>
    </div>
</div>