<div class="form">
    <mat-card class="card">
        <mat-card-title>Edit User</mat-card-title>
        
        <div class="col-12 col-lg-12" *ngIf="errorMessage">
            <div class="alert alert-danger alert-dismissible alertJustify" role="alert">
                <div class="alert-message">
                    {{ errorMessage }}
                </div>
                <button type="button" class="close alertButton" (click)="closeX()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        </div>

        <mat-card-content>
            <div class="container">                
                <mat-form-field>
                    <input [(ngModel)]="dataUser.fullName" matInput placeholder="Full Name" required />
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="dataUser.email" matInput placeholder="Email" (keyup)="valiEmail()" required />
                </mat-form-field>
                <mat-form-field>
                    <div class="input-group mb-3">
                        <input [type]="hide" class="form-control" [(ngModel)]="dataUser.password" matInput placeholder="Password" />
                        <button class="input-group-text btn btn-purple" id="basic-addon2" title="Show password" (click)="showPass()"><mat-icon class="icon-size">visibility</mat-icon></button>
                      </div>
                </mat-form-field> 
                <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select [(ngModel)]="dataUser.roleId">
                        <mat-option value="{{ role.name }}" *ngFor="let role of listRoles">{{ role.name }}</mat-option>
                    </mat-select>
                </mat-form-field>                                
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col-lg-6">
                    <button (click)="update()" class="button colorButton" mat-raised-button>
                        Update
                    </button>
                </div>
                <div class="col-lg-6">
                    <button class="button bg-danger" routerLink="/listUsers" mat-raised-button>
                        Cancel
                    </button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

