<div class="form">
    <mat-card class="card">
        <mat-card-title>Register user</mat-card-title>        

        <div class="col-12 col-lg-12" *ngIf="errorMessage">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    {{errorMessage}}
                </div>
                <button type="button" class="close" (click)="xAlert()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        </div>

        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="registerData.fullName" matInput placeholder="FullName" (keyup)="progreso()" required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="registerData.email" matInput placeholder="Email" (keyup)="progreso()" required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="registerData.password" matInput placeholder="Password" (keyup)="progreso()" required>
                </mat-form-field>
            </div>
        </mat-card-content>

        <div class="container">
            <mat-progress-bar  class="barra" mode="buffer" color="accent" [value]=progress ></mat-progress-bar>    
        </div>
        <br>
        

        <mat-card-actions>
            <button (click)="register()" class="button colorButton" mat-raised-button>
                Register
            </button>
        </mat-card-actions>

    </mat-card>
</div>
