.all{
    display: flex;
    height: 93%;    
}

.izq{
    width: 40%;    
}

.der{
    width: 60%;
}

.fondo{
    background-image: url('../../../assets/fondo.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;    
}

.button{
    width: 50%;          
}
.containBtn{
    display: flex;
    justify-content: center;    
}

.card{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;    
}

mat-card-title{
    text-align: center;
}

.colorButton{
    background-color: brown;
}

.barra{
    height: 6px;
}

