<div class="form">
  <mat-card class="card">
    <mat-card-title> Profile </mat-card-title>
    <div class="photoProfile">
      <img src="../../../assets/img/icon-users-solid.svg" alt="User" />
    </div>
    <mat-card-content>
      <div class="container">
        <div class="card-body">
          <div class="card-body-item">
            <h3><strong>Name:</strong></h3>
            <h3>{{ profileData.fullName }}</h3>
          </div>
          <div class="card-body-item">
            <h3><strong>Email: </strong></h3>
            <h3>{{ profileData.email }}</h3>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        (click)="edit()"
        class="button colorButton"
        mat-raised-button
      >
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
